services: mongodb

notifications:
  email: false

language: ruby
rvm:
  - 1.9.3
  - 2.0.0
  - jruby-19mode
  - rbx-19mode

gemfile:
  - Gemfile
  - gemfiles/carrierwave-0.8.gemfile
  - gemfiles/carrierwave-master.gemfile
  - gemfiles/mongoid-3.0.gemfile
  - gemfiles/mongoid-3.1.gemfile
  - gemfiles/mongoid-4.0.gemfile
